<h1 class="mt-4 text-center bg-primary">Detalle de Siniestros </h1>

<div class="containter">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Asegurado</h4>
            <table>
                <thead>
                    <tr>
                        <th>{{siniestro.id_sin}}</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>tercero</h4>
        </div>


    </div>
   
</div>

