<div class="containter-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">


            <div class="card" >
                <img class="card-img-top" src="{{seguro.imagen}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{seguro.titulo}}</h5>
                  <p class="card-text">{{seguro.descripcion}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{seguro.nombre_s}}</li>
                
                
                </ul>
                <form [formGroup]="form" *ngIf="isLoaded">
                <div class="card-body text-center">
                  <a style="cursor: pointer;"(click)="loadInfo()" class="card-link text-primary border-bottom border-primary">Recibir Info!</a>
                  <div class="form-group mt-2" *ngIf="loadinfo">
                  <input placeholder="Ingrese su email" type="text" class="form-control" formControlName="email">
                  </div>
                  <div class="form-group mt-2" *ngIf="loadinfo">
                  <button  class="btn  text-primary border-bottom border-primary" (click)="mailseguroSingle()">
                    Solicitar Info
                  </button>
                </div>
              </div>
              <span class="text-center text-danger" *ngIf="form.get('email').status != 'VALID' && form.get('email').hasError('email')">Email erroneo</span>
              </form>
              </div>

        </div>
    </div>


</div>